<configuration>
    <appender name="json-stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
                <timestampFormat>yyyy-MM-dd'T'HH:mm:ss.SSSX</timestampFormat>
                <timestampFormatTimezoneId>Etc/UTC</timestampFormatTimezoneId>
                <appendLineSeparator>true</appendLineSeparator>
                <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                    <prettyPrint>false</prettyPrint>
                </jsonFormatter>
            </layout>
        </encoder>
    </appender>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.prhunter" level="DEBUG"/>
    <logger name="io.ktor" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.zalando.logbook" level="INFO"/>

    <springProfile name="dev">
        <!-- configuration to be enabled when the "production" profile is not active -->
        <root level="info">
            <appender-ref ref="console"/>
        </root>
    </springProfile>

    <springProfile name="production, staging">
        <!-- configuration to be enabled when the "production" profile is active -->
        <root level="info">
            <appender-ref ref="json-stdout"/>
        </root>
    </springProfile>
</configuration>